Verifying app identity using TLS improves resiliency and consistency for app routes. The **App Containers** pane of the <%= vars.app_runtime_abbr %> tile includes these options under **Gorouter app identity verification**:

<p class='note breaking'><strong>Breaking Change:</strong> If you have mutual TLS app identity verification enabled, app containers accept incoming communication only from the Gorouter. This disables TCP routing.</p>
<p class='note'><strong>Note:</strong> This feature does not work if the <strong>Disable SSL certificate verification for this environment</strong> checkbox is enabled in the <strong>Networking</strong> pane of the PAS tile.</p>

* **The Gorouter uses TLS to verify app identity:** Enables the Gorouter to verify app identity using TLS. This is the default option.

* **The Gorouter and apps use mutual TLS to verify each other's identity:** Enables the Gorouter and your apps to verify each other's identity using TLS.
