#### <a id="xfcc_haproxy"></a> Terminating TLS at Load Balancer

By default, the Gorouter forwards arbitrary headers that are not otherwise mentioned in the docs. This includes the XFCC header.

For apps to receive the XFCC header, configure your load balancer to set the XFCC header with the contents of the client certificate received in the TLS handshake.

To enable this mode, select the **Infrastructure load balancer** option for **TLS termination point** in the **Networking** pane of the PAS tile.