#### <a id="xfcc_haproxy"></a> Terminate TLS at HAProxy

This option allows you to configure support for the XFCC header while leveraging HAProxy. When selected, HAProxy sets the XFCC header to the contents of the client certificate received in the TLS handshake.

Selecting this configuration requires that the load balancer in front of HAProxy is configured to pass through the TLS handshake to HAProxy through TCP.

To enable this mode:

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard.

1. Click the <%= vars.product_short %> tile.

1. Select **Networking**.

1. Under **Configure support for the X-Forwarded-Client-Cert header...**, select **TLS terminated for the first time at HAProxy**.

HAProxy trusts the Diego intermediate certificate authority. This trust is enabled automatically and permits mutual authentication between apps running on <%= vars.product_name %>.
