---
title: Getting Started with the Apps Manager
owner: Apps Manager
---

<strong><%= modified_date %></strong>

The Apps Manager is a tool to help manage organizations, users,
applications, and spaces.
Complete the following steps to invite new users to the Apps Manager.

1. Log in to the Apps Manager: <%=vars.console_3%>

1. The Apps Manager displays information for your org and all of the spaces in your org.

    <%= image_tag("console-org.png") %>

1. In the Members tab, click **Invite New Members**.

    <%= image_tag("images/manage-accounts/org-members.png") %>

1. Add an email address, assign a team role or roles, then click **Send Invite** to invite a new user to join your org.

## <a id='known-issues'></a>Important Tips ##

* You can remove users from orgs, but not spaces.
Instead, revoke the user's permissions in all spaces to effectively remove the
user from the org.
* Not all of the Apps Manager pages are Ajax-enabled.
Refresh the page to see the latest information.
* Changes to environment variables, as well as service bindings and unbindings,
require a `cf push` to update the application.