---
title: Understanding Developer Console Permissions
---

In most cases, the actions available to you on the Developer Console are a
limited subset of the commands available through the CLI.
However, depending on your <%=vars.console_ev%>, you might be able to perform certain org and space management actions on the Developer Console that usually only an Admin can perform with either the CLI or the Developer Console.

The table below shows the relationship between specific org and space management
actions that you can perform and the users that can perform these actions.

Note that:

* Admins can use either the CLI or the Developer Console to perform these actions.
* Org Managers, like Admins, can perform all actions using the Developer Console.
* Space Managers, like Admins and Org Managers, can assign and remove users from
spaces using the Developer Console.
* Developer Console users of any role can create an org and view org and space users.

<table border="1" class="nice">
<tr>
	  <th></th>
	  <th><div class="centered"><strong>CLI</strong></div></th>
	  <th colspan='3'><div class="centered"><strong>Developer Console</strong></div></th>
</tr>
<tr>
  <th><strong>Command</strong></th>
  <th><strong>Admin</strong></th>
  <th><strong>Admin</strong> or <strong>Org Manager</strong></th>
  <th><strong>Space Manager</strong></th>
  <th><strong>Org Auditor</strong> or <strong>Space Developer</strong> or <strong>Space Auditor</strong></th>
</tr>
<tr>
  <td><code>create-org</code></td><td>X</td><td>X</td><td>X</td><td>X</td>
</tr>
<tr>
  <td><code>delete-org</code></td><td>X</td><td>X</td><td></td><td></td>
</tr>
<tr>
  <td><code>rename-org</code></td><td>X</td><td>X</td><td></td><td></td>
</tr>
<tr>
  <td><code>org-users</code></td><td>X</td><td>X</td><td>X</td><td>X</td>
</tr>
<tr>
  <td><code>set-org-role</code></td><td>X</td><td>X</td><td></td><td></td>
</tr>
<tr>
  <td><code>unset-org-role</code></td><td>X</td><td>X</td><td></td><td></td>
</tr>
<tr>
  <td><code>space-users</code></td><td>X</td><td>X</td><td>X</td><td>X</td>
</tr>
<tr>
  <td><code>set-space-role</code></td><td>X</td><td>X</td><td>X</td><td></td>
</tr>
<tr>
  <td><code>unset-space-role</code></td><td>X</td><td>X</td><td>X</td><td></td>
</tr>

</table>