---
title: Getting Started with the Apps Manager
owner: Apps Manager
---

<strong><%= modified_date %></strong>

##<a id="overview"></a> Overview

Apps Manager is a web-based tool to help manage organizations, spaces, applications, services, and users. Apps Manager provides a visual interface for performing the following subset of functions available through the cf Command Line Interface (CLI):

* **Orgs**: You can create, manage, and delete orgs.
* **Spaces**: You can create, manage, and delete spaces.
* **Apps**: You can scale apps, bind apps to services, manage environment variables and routes, view logs and usage information, start and stop apps, and delete apps.
* **Services**: You can bind services to apps, unbind services from apps, choose and edit service plans, and rename and delete service instances.
* **Users**: You can invite new users, manage user roles, and delete users.

##<a id="permissions"></a> Understanding Permissions

Your ability to perform actions in Apps Manager depends on your <%=vars.console_ev%>.

The table below shows the relationship between specific org and space management
actions that you can perform and the users that can perform these actions.

<table border="1" class="nice">
<tr>
	  <th></th>
	  <th><div class="centered"><strong>CLI</strong></div></th>
	  <th colspan='3'><div class="centered"><strong>Apps Manager</strong></div></th>
</tr>
<tr>
  <th><strong>Command</strong></th>
  <th><strong>Admin</strong></th>
  <th><strong>Admin</strong> or <strong>Org Manager</strong></th>
  <th><strong>Space Manager</strong></th>
  <th><strong>Org Auditor</strong> or <strong>Space Developer</strong> or <strong>Space Auditor</strong></th>
</tr>
<tr>
  <td><code>create-org</code></td><td>X</td><td>X</td><td>X</td><td>X</td>
</tr>
<tr>
  <td><code>delete-org</code></td><td>X</td><td>X</td><td></td><td></td>
</tr>
<tr>
  <td><code>rename-org</code></td><td>X</td><td>X</td><td></td><td></td>
</tr>
<tr>
  <td><code>org-users</code></td><td>X</td><td>X</td><td>X</td><td>X</td>
</tr>
<tr>
  <td><code>set-org-role</code></td><td>X</td><td>X</td><td></td><td></td>
</tr>
<tr>
  <td><code>unset-org-role</code></td><td>X</td><td>X</td><td></td><td></td>
</tr>
<tr>
  <td><code>space-users</code></td><td>X</td><td>X</td><td>X</td><td>X</td>
</tr>
<tr>
  <td><code>set-space-role</code></td><td>X</td><td>X</td><td>X</td><td></td>
</tr>
<tr>
  <td><code>unset-space-role</code></td><td>X</td><td>X</td><td>X</td><td></td>
</tr>

</table>

Note the following:

* Admins can use either the cf CLI or the Apps Manager to perform these actions.
* Org Managers, like Admins, can perform all actions using the Apps Manager.
* Space Managers, like Admins and Org Managers, can assign and remove users from
spaces using the Apps Manager.
* Apps Manager users of any role can <%= vars.create_org %> view org and space users of which they are members.
* Users cannot be removed from an org, but they can be removed from a space. To effectively remove a user from an org, you can remove them from all spaces in an org.
