---
title: Getting Started with the Developer Console
---

The Developer Console is a tool to help manage organizations, users,
applications, and spaces.
Complete the following steps to invite new users to the Developer Console.

1. Log in to the Developer Console: <%=vars.console%>

1. The Developer Console displays information for the system org and all of its spaces.

    <%= image_tag("console-org.png") %>

1. In the Members tab, click **Invite New Members**.

    <%= image_tag("images/manage-accounts/org-members.png") %>

1. Add an email address, assign a team role or roles, then click **Send Invite** to invite a new user to join your org.

## <a id='known-issues'></a>Important Tips ##

* You can remove users from orgs, but not spaces.
Instead, revoke the user's permissions in all spaces to effectively remove the
user from the org.
* Not all console pages are Ajax-enabled.
Refresh the page to see the latest information.
* Changes to environment variables, as well as service bindings and unbindings,
require a `cf push` to update the application.