---
title: Using Apps Manager
owner: Apps Manager
---

The web-based Apps Manager application helps you manage users, organizations, spaces, and applications.

## Table of Contents

<ul>
 <li> <a href="./dev-console.html" class="subnav">Getting Started with Apps Manager</a></li>
 <li> <a href="./manage-spaces.html" class="subnav">Managing Orgs and Spaces Using Apps Manager</a></li>
 <li> <a href="./console-roles.html" class="subnav">Managing User Roles with Apps Manager</a></li>
 <li> <a href="./manage-apps.html" class="subnav">Managing Apps and Service Instances Using Apps Manager</a></li>
 <li> <a href="./space-asgs.html" class="subnav">Viewing ASGs in Apps Manager</a></li>
 <%=vars.console_accounting_report%>
 <li> <a href="./spring-boot-actuators.html" class="subnav">Configuring Spring Boot Actuator Endpoints for Apps Manager</a></li>
 <li> <a href="./using-actuators.html" class="subnav">Using Spring Boot Actuator Endpoints with Apps Manager</a></li>
</ul>
