---
title: Using Apps Manager
owner: Apps Manager
---

The web-based Apps Manager application helps you manage users, organizations, spaces, and applications.

## Table of Contents

* <a href="./dev-console.html" class="subnav">Getting Started with Apps Manager</a>

* <a href="./manage-spaces.html" class="subnav">Managing Orgs and Spaces Using Apps Manager</a>

* <a href="./console-roles.html" class="subnav">Managing User Accounts and Permissions Using Apps Manager</a>

* <a href="./manage-apps.html" class="subnav">Managing Apps and Service Instances Using Apps Manager</a>
