---
title: Using the Apps Manager
owner: Apps Manager
---

The web-based Apps Manager application helps you manage users, organizations, spaces, and applications.

## Table of Contents

<ul>
  <li> <a href="./dev-console.html" class="subnav">Getting Started with the Apps Manager</a></li>
  <li> <a href="./dev-console-permissions.html" class="subnav">Understanding Apps Manager Permissions</a></li>
  <li> <a href="./manage-spaces.html" class="subnav">Managing Spaces Using the Apps Manager</a></li>
  <li> <a href="./manage-accounts.html" class="subnav">Managing User Accounts in Spaces Using the Apps Manager</a></li>
  <li> <a href="./console-roles.html" class="subnav">Managing User Permissions Using the Apps Manager</a></li>
  <li> <%=vars.console_accounting_report%></li>
</ul>

