---
title: Using Apps Manager
owner: Apps Manager
---

The web-based Apps Manager application helps you manage users, organizations, spaces, and applications.

## Table of Contents

<ul>
 <li><a href="./dev-console.html">Getting Started with Apps Manager</a></li>
 <li><a href="../operating/console-login.html">Logging In to Apps Manager</a></li>
 <li><a href="./manage-spaces.html">Managing Orgs and Spaces Using Apps Manager</a></li>
 <li><a href="./console-roles.html">Managing User Roles with Apps Manager</a></li>
 <li><a href="./manage-apps.html">Managing Apps and Service Instances Using Apps Manager</a></li>
 <li><a href="./space-asgs.html">Viewing ASGs in Apps Manager</a></li>
 <li><a href="./spring-boot-actuators.html">Configuring Spring Boot Actuator Endpoints for Apps Manager</a></li>
 <li><a href="./using-actuators.html">Using Spring Boot Actuator Endpoints with Apps Manager</a></li>
 <li><a href="../operating/configure-multi-foundation.html">Configuring Multi-Foundation Support in Apps Manager</a></li>
 <li><strong>Scaling an App Using App Autoscaler</strong>
   <ul>
     <li><a href="../appsman-services/autoscaler/about-app-autoscaler.html">About App Autoscaler</a></li>
     <li><a href="../appsman-services/autoscaler/using-autoscaler.html">Scaling an App Using App Autoscaler</a></li>
     <li><a href="../appsman-services/autoscaler/spring-tutorial.html">Tutorial: Scaling a Spring App on a Custom Metric</a></li>
     <li><a href="../appsman-services/autoscaler/using-autoscaler-cli.html">Using the App Autoscaler CLI</a></li>
     <li><a href="../appsman-services/autoscaler/using-autoscaler-api.html">Using the App Autoscaler API</a></li>
  </ul>
</ul>
