---
title: Managing User Accounts in Spaces Using the Apps Manager
---

<% unless vars.book_title == "Pivotal Web Services Documentation" %>
<!-- This ensures that the note below only appears in the PCF docs, not in the PWS docs.  -->

<<<<<<< HEAD
<p class='note'><strong>Note</strong>: The procedures described here are not compatible with using LDAP for user identity management. To create and manage user accounts in an LDAP-enabled Cloud Foundry deployment, see <a href='../adminguide/ldap-user-management.html'>Onboarding Existing LDAP Users to a PCF Deployment</a>.</p>
=======
<p class='note'><strong>Note</strong>: The procedures described here are not compatible with using LDAP for user identity management. To create and manage user accounts in an LDAP enabled Cloud Foundry deployment, see <a href='../customizing/ldap-user-management.html'>Onboarding Existing LDAP Users to a PCF Deployment</a>.</p>
>>>>>>> moves ldap-user-management topic and fixes links [#101245380]

<% end %>

To manage user accounts in a space, you must have Space Manager permissions in
that space.
Org Managers have Space Manager permissions by default and can manage user
accounts in all spaces associated with the org.

## <a id='roles'></a>Space Roles and Permissions ##

The different user roles are described on the right side of the Teams view.

### <a id='manager'></a>Space Manager ###

Space Managers can invite and manage users and enable features for a given
space.
Assign this role to managers or other users who need to administer the account.

### <a id='dev'></a>Space Developer ###

Space Developers can create, delete, and manage applications and services, and
have full access to all usage reports and logs.
Space Developers can also edit applications, including the number of instances
and memory footprint.
Assign this role to app developers or other users who need to interact with
applications and services.

### <a id='auditor'></a>Space Auditor ###

Space Auditors have view-only access to all space information, settings,
reports, and logs.
Assign this role to users who need to view but not edit the application space.

## <a id='invite'></a>Inviting New Users ##

1. On the Org dashboard, click the **Members** tab.

	<%= image_tag("manage-accounts/org-members.png") %>

1. Click **Invite New Members**.
The **Invite New Team Member(s)** form appears.

    <%= image_tag("manage-accounts/invite-page.png") %>

1. In the **Add Email Address(es)** text field, enter the email addresses of
the users that you want to invite.
Enter multiple email addresses as a comma-delimited list.

1. The **Assign Team Roles** view lists the current org and available spaces
with checkboxes corresponding to each possible user role.
Select the checkboxes that correspond to the permissions that you want to grant to the invited users.

1. Click **Send Invite**.
The Apps Manager sends an email containing an invitation link to each
email address that you specified.

## <a id='change_perm'></a>Changing User Permissions ##

You can also change user permissions for existing users on the account.
User permissions are handled on a per-space basis, so you must edit them for
each user and for each space that you want to change.

1. On the Org dashboard, click the **Members** tab.

	<%= image_tag("manage-accounts/org-members.png") %>

1. Edit the permissions assigned to each user by checking or unchecking the
checkboxes under each user role.
The Apps Manager saves your changes automatically.

### <a id='removing'></a>Removing a User ###

To remove a user from a particular space, revoke that user’s permissions for
all user roles in that space.
The user remains visible in the list unless you remove the user from the org.