---
title: Configuring Spring Boot Actuator Endpoints for Apps Man
owner: Java
---

<strong><%= modified_date %></strong>

The Apps Manager UI supports several Spring Boot Actuator endpoints. This topic describes how to configure your app so that Apps Manager displays data from the Actuator endpoints. 

For information on how you use these endpoints in Apps Manager, see the [Using Spring Boot Actuator Endpoints in Apps Manager](./using-actuators.html). 

## <a id='actuator'></a> Overview: Actuator Endpoints

Spring Boot Actuator provides services for monitoring and managing your Spring Boot app. You can add these services to your app project and access them through HTTP endpoints.   

## <a class="health-endpoint"></a>Configure the <code>/health</code> production ready endpoint

http://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-endpoints.html#production-ready-health

## <a id="info-endpoint"></a>Configure the <code>/info</code> production ready endpoint

<infomap>procedure to configure endpoint
</infomap>
To add git commit data to the info endpoint:

First, do this:
http://docs.spring.io/spring-boot/docs/current/reference/html/howto-build.html#howto-git-info
Then add this line:
http://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-endpoints.html#production-ready-application-info-git
 [the critical piece, after we synthesize these two items is management.info.git.mode=full]

<infomap>procedure to configure /info
</infomap>[Additionally, you can add build information using the info endpoint. We can link out or document it and ask Mike if that’s something we still want to do.]
Link out to spring docs for further details about /info.
http://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-endpoints.html#production-ready-application-info