---
title: Using Spring Boot Actuators with Apps Manager
owner: Apps Manager
---

This document describes how to view the information from the Spring Boot actuators for your apps in Apps Manager. 

To use these features, you must first configure them in your Spring Boot app. See the [Configuring Spring Boot Actuator Endpoints for Apps Man](./spring-boot-actuators.html)

You can tell if your app is configured with Spring Boot Actuators if the Spring Boot logo appears next to your application name in Apps Manager


<% image_tag spring_logo%>



## Overview


## View App Information
	
### git
	
### build
	
### environment

## <a class="manage-log-levels"></a> Managing Log levels in Apps Manager

Logs Tab
	Click Button: Configure Logging Levels
		Modal
		You will see all current log levels and their default log settings. 

		Any user-configured settings will populate to the top of the list

		Filterable

		Each log level can be set in the modal
		Setting change with white dot indicates user-configured setting
		Changing a log level setting populates that setting-level to lower namespaces. Inherited changes can be overridden as user-configured changes.  


## View App Health 

